<div class="relative custom-color max-h-full">
  <div class="flex">
    <div
      class="text-sm h-screen hidden lg:block lg:w-1/5 xl:w-1/6 overflow-scroll-y overflow-x-hidden py-8 pr-1 scrollbar-custom z-50 text-gray-600 font-medium my-2 mr-2 tracking-wide fixed"
    >
      <div class="ml-10 mb-16">
        <img
          src="../../../assets/img/PaySimple.png"
          alt="simplify logo"
          class="h-12"
        />
      </div>

      <div
        *ngFor="let item of navItems; index as i"
        class="mx-5 rounded-lg hover:bg-secondary hover:text-white hover:shadow-custom focus:outline-none outline-none cursor-pointer transform hover:translate-x-1 transition ease-in-out delay-100 duration-500"
        (click)="route(item.url)"
      >
        <div
          class="p-3 my-4"
          [ngClass]="
            router.url === item.url || (item.children && item.isShown)
              ? 'rounded-lg bg-secondary text-white shadow-custom outline-none'
              : 'bg-none'
          "
        >
          <div
            class="flex justify-between items-center"
            (click)="item.isShown = !item.isShown"
          >
            <div class="flex items-center">
              <svg-icon [src]="item.icon"></svg-icon>

              <a class="pl-2 tracking-wide"> {{ item.name }}</a>
            </div>
            <div *ngIf="item.children">
              <button
                class="focus:outline-none block pl-6"
                *ngIf="item.isShown == false"
              >
                <svg
                  class="w-4 h-4"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  ></path>
                </svg>
              </button>
              <button
                class="focus:outline-none block px-2"
                *ngIf="item.isShown == true"
              >
                <svg
                  class="w-4 h-4"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <!-- <div *ngIf="item.children" [hidden]="!item.isShown"> -->
          <div *ngFor="let child of item.children" [hidden]="!item.isShown">
            <div
              class="px-3 py-3 my-3 mr-1 child text-ok rounded-md transform hover:translate-x-2 transition ease-in-out delay-100 duration-500 hover:bg-gray-200 hover:text-secondary hover:shadow-custom outline-none"
              (click)="route(child.url)"
              [ngClass]="
                router.url === child.url
                  ? 'bg-white shadow-custom text-secondary'
                  : ''
              "
            >
              <div class="flex items-center">
                <svg-icon [src]="child.icon"></svg-icon>

                <a class="pl-3">{{ child.name }}</a>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div
      class="p-10 min-h-screen lg:w-4/5 xl:w-5/6 my-3 ml-2 mr-2 lg:ml-auto shadow-lg w-full bg-white-100"
      style="border-radius: 20px"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
